.checkbox {

	&:checked + .checkbox__fake {
		border-color: #1cb8ff;

		svg {
			transform: translateY(-50%);
			opacity: 1;
		}
	}

	&__text {
		color: #4c505b;
		font-family: Raleway, sans-serif;
		font-size: 15px;
		font-weight: 400;
	}

	&__fake {
		width: 18px;
		height: 18px;
		border: 1px solid #d5d7d8;
		background-color: white;
		position: relative;
		margin-right: 10px;
		transition: all .3s ease;

		&.active {
			border-color: #1cb8ff;

			svg {
				transform: translateY(-50%);
				opacity: 1;
			}
		}

		&__svg {
			position: absolute;
			width: 10px;
			fill: #1cb8ff;
			left: 4px;
			top: 50%;
			transform: translateY(-50%) scale(.98);
			opacity: 0;
		}

		&:hover {
			border-color: #1cb8ff;
		}
	}

	&--wrap {
		cursor: pointer;

		&:hover {
			.checkbox__fake {
				border-color: #1cb8ff;
			}
		}
	}
}
