.dropdown {
	position: absolute;
	left: 0;
	right: 0;
	top: calc(100% + 5px);
	background-color: white;
	border-radius: 4px;
	border: 1px solid #dee0e1;
	transition: all .3s ease;
	z-index: 1;

	&:not(.open) {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}

	&__head {
		border: 1px solid #dee0e1;
		background-color: white;
		padding: 11px;
		padding-right: 35px;
		position: relative;
		cursor: pointer;
		transition: all .3s ease;

		&:hover,
		&.active {
			border: 1px solid #1cb8ff;
		}

		.changed {
			border: 1px solid #1cff20;
		}

		&:not(.changed) {
			color: rgba(76, 80, 91, 0.65);
		}
	}

	&__item {
		padding: 12px 15px;
		transition: all .3s ease;
		cursor: pointer;

		&:hover,
		&.active {
			background-color: rgba(76, 80, 91, 0.09);
		}
	}

	&--wrap {
		position: relative;
		color: #4c505b;
		font-family: Raleway, sans-serif;
		font-size: 15px;
		font-weight: 400;
	}
}
