.priceRange {

	&__input {
		position: absolute;
		width: calc(100% - 16px);
		top: 0;
		bottom: 0;
		pointer-events: none;
		appearance: none;
		background-color: transparent;
		z-index: 1;

		&:nth-child(1) {
			left: 0;
		}

		&:nth-child(2) {
			background: none;
			right: 0;
		}

		&::-webkit-slider-thumb {
			width: 16px;
			height: 16px;
			border: 2px solid #1cb8ff;
			border-radius: 100%;
			background-color: #ffffff;
			cursor: pointer;
			position: relative;
			appearance: none;
			pointer-events: all;
		}
	}

	&__line {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #1cb8ff;
		pointer-events: none;
		z-index: 0;
	}

	&__value {
		color: #33363e;
		font-family: Montserrat, sans-serif;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__button {
		color: #ffffff;
		font-family: Montserrat, sans-serif;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 10px 25px;
		background-color: #1cb8ff;
		line-height: 1;
	}

	&--wrap {
		position: relative;
		width: 100%;
		background-color: #d6d9e1;
		height: 4px;
		margin-bottom: 25px;
	}



}
