.catalog {
	padding: 50px 0 80px;

	.wrapper {
		@media screen and (max-width:767px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__filter {
		position: sticky;
		top: 50px;

		&--wrap {
			max-width: 240px;
			width: 100%;
		}

		&__item {
			padding: 9px 0;

			&__title {
				color: #33363e;
				font-family: Montserrat, sans-serif;
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 30px;
			}

			&__pointer {
				color: #a6a9af;
				font-family: "Open Sans", sans-serif;
				font-size: 15px;
				font-weight: 400;
				margin-left: 8px;
			}

			&--wrap {
				&:not(:last-child) {
					margin-bottom: 60px;
				}
			}
		}
	}

	&__item {
		width: 100%;
		max-width: 270px;
		background-color: #ffffff;
		border: 1px solid #e9e9e9;
		transition: all .3s ease;
		cursor: pointer;
		margin: 0 15px 30px;

		&:hover {
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
		}

		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			&--wrap {
				height: 120px;
				position: relative;
			}
		}

		&__city {
			position: absolute;
			left: 24px;
			bottom: 18px;
			color: #ffffff;
			font-family: Raleway, sans-serif;
			font-size: 13px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: 0.33px;
		}

		&__content {
			padding: 20px 20px 25px;
		}

		&__name {
			color: #33363e;
			font-family: Montserrat, sans-serif;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 0.4px;
			margin-bottom: 25px;
		}

		&__category {
			color: #a6a9af;
			font-family: Raleway, sans-serif;
			font-size: 13px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: 0.33px;
		}

		&__price {
			color: #282d3b;
			font-family: Montserrat, sans-serif;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
		}

		&--wrap {
			padding-left: 40px;
			width: 100%;
			margin-left: -15px;
			margin-right: -15px;

			@media screen  and (max-width: 767px) {
				padding-top: 20px;
				margin-top: 30px;
				padding-left: 0;
				border-top: solid 1px gray;
			}
		}
	}
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}
