@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "reset";
@import "helpers";

@import "components/dropdown";
@import "components/checkbox";
@import "components/priceRange";

@import "view/catalog";
