<template>
	<section class="catalog">
		<div class="wrapper flex">
			<div class="catalog__filter--wrap">
				<div class="catalog__filter flex direction-column">
					<div class="catalog__filter__item--wrap">
						<p class="catalog__filter__item__title">city</p>
						<dropdown
							:value.sync="filterData.city"
							:list="localeData.city"
							placeholder="Change city"
						></dropdown>
					</div>

					<div class="catalog__filter__item--wrap">
						<p class="catalog__filter__item__title">categories</p>
						<checkboxList
							additional-class="catalog__filter__item"
							:list="localeData.category"
							:value.sync="filterData.category"
						>
							<template #label="data">
								{{ data.data.name }}
								<span class="catalog__filter__item__pointer">
								{{ `(${getDataLengthByCategory(data.data.id)})` }}
							</span>
							</template>
						</checkboxList>
					</div>

					<div class="catalog__filter__item--wrap">
						<p class="catalog__filter__item__title">price</p>

						<price-range
							:value.sync="filterData.price"
							:min-value="minPrice"
							:max-value="maxPrice"
						></price-range>
					</div>

					<div class="catalog__filter__item--wrap">
						<p class="catalog__filter__item__title">Save filter data to:</p>
						<label
							class="checkbox--wrap flex align-center catalog__filter__item"
							v-for="item in ['localeStorage', 'hash']"
							:key="item"
						>
							<input
								hidden
								class="checkbox"
								type="radio"
								name="filterDat"
								:value="item"
								v-model="saveTo"
							>
							<span
								class="checkbox__fake"
							>
								<svg
									class="checkbox__fake__svg"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									version="1.1" id="Layer_1" x="0px" y="0px"
									viewBox="0 0 512 512"
									style="enable-background:new 0 0 512 512;"
									xml:space="preserve"
								>
									<g>
										<g>
											<path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"/>
										</g>
									</g>
								</svg>
							</span>
							<span class="checkbox__text">{{ item }}</span>
						</label>
					</div>

				</div>
			</div>
			<transition-group
				name="fade"
				class="catalog__item--wrap flex wrap align-start justify-center"
				tag="div"
			>
				<div
					class="catalog__item flex direction-column" :key="item.id"
					v-for="(item, idx) in products"
				>
					<figure class="catalog__item__img--wrap">
						<img
							:src="`https://picsum.photos/${getRandomInt(250, 350)}/${getRandomInt(120, 220)}?random=${idx + 1}`"
							:alt="item.name" loading="lazy"
							class="catalog__item__img">
						<figcaption class="catalog__item__city">
							{{ findCity(item.city) }}
						</figcaption>
					</figure>
					<div class="catalog__item__content flex direction-column justify-between">
						<h3 class="catalog__item__name">
							{{ item.name }}
						</h3>
						<div class="flex justify-between align-center">
							<p class="catalog__item__category">
								{{ findCategory(item.category) }}
							</p>
							<span class="catalog__item__price">
								{{ `$${item.price}` }}
							</span>
						</div>
					</div>
				</div>
			</transition-group>

		</div>
	</section>
</template>

<script>

	import * as localeData from "../localeData";
	import dropdown from "../components/dropdown";
	import checkboxList from "../components/checkboxList";
	import priceRange from "../components/priceRange";

	import {helpers} from "../mixins/helpers";

	export default {
		name: 'catalog',
		data() {
			return {
				localeData: {},
				filterData: {
					city: null,
					category: [],
					price: {
						min: 0,
						max: 2000
					}
				},
				minPrice: 0,
				maxPrice: 0,
				saveTo: 'localeStorage'
			}
		},
		computed: {
			products() {
				const { city, category } = this.filterData;
				return this.localeData?.data.filter(el =>
					el.city === city
					&& category.includes(el.category)
					&& this.checkPrice(el)
				)
			}
		},
		methods: {
			findCity(id) {
				return (this.localeData?.city.find(el => el.id === id))?.name;
			},
			findCategory(id) {
				return (this.localeData?.category.find(el => el.id === id))?.name;
			},
			getDataLengthByCategory(id) {
				const { city } = this.filterData;
				return this.localeData?.data
					.filter(el =>
						el.city === city
						&& el.category === id
						&& this.checkPrice(el)).length
			},
			checkPrice(el) {
				const { price } = this.filterData;
				return (el.price >= price.min && el.price <= price.max)
			},
			generateHash(filterData) {

				const generatePart = {
					city: val => !!val ? `city=${val}` : '',
					category: val => !!val.length
						? `category=${val}`
						: '',
					price: val => val.max < this.maxPrice
						? `price=min_${val.min}~max_${val.max}`
						: ''
				};

				const hash = Object.keys(filterData).reduce((acc, key, idx) =>
					acc + (idx > 0 && generatePart[key](filterData[key]).length
						? `&${generatePart[key](filterData[key])}`
						: generatePart[key](filterData[key])
					), ''
				);

				if (this.$route.hash.substr(1) !== hash)
					this.$router.push({
						name: this.$route.name,
						hash: hash.length ? `#${hash}` : ''
					});

			},
			parseHash() {
				const hash = this.$route.hash.substr(1);
				const { city, category } = this.localeData;

				if(!!!hash) return false;
				this.saveTo = 'hash';

				const getValidDataByKey = {
					city: val => city.find(el => el.id === +val) ? +val : null,
					category: val => val.split(',')
						.filter(el => category.some(cat => cat.id === +el))
						.map(el => +el),
					price: val => val.split('~').reduce((acc, val) => {
						const key = val.split('_')[0];
						const value = +[val.split('_')[1]];
						const { minPrice, maxPrice } = this;
						return Object(this.filterData.price).hasOwnProperty(key)
							? {...acc, ...{
								[key]: (value >= minPrice) && (value <= maxPrice)
									? value
									: this[`${key}Price`]
							}}
							: acc
					}, {})

				}

				const filterData = hash.split('&').reduce((acc, val) => {
					const key = val.split('=')[0];
					const value = val.split('=')[1];

					return {...acc, ...{
							[key]: getValidDataByKey[key](value)
						}}
				}, {});

				this.setFilerData(filterData);
			},
			setFilerData(filterData) {
				Object.keys(filterData)
					.forEach(key => this.$set(this.filterData, key, filterData[key]));
			}
		},
		watch:{
			filterData: {
				deep: true,
				handler(val) {
					this.saveTo === 'localeStorage'
						? localStorage.setItem('filterData', JSON.stringify(val))
						: this.generateHash(val);
				}
			},
			saveTo(val) {
				if (val === 'localeStorage') {
					localStorage.setItem('filterData', JSON.stringify(val))
					if (this.$route.hash.length)
						this.$router.push({
							name: this.$route.name,
							hash: ''
						});
				} else {
					localStorage.removeItem('filterData');
					this.generateHash(this.filterData)
				}
			}
		},
		created() {
			Object.keys(localeData).forEach(key => this.$set(this.localeData, key, localeData[key]));
			// more products length
			this.$set(this.localeData, 'data', this.generateProducts());

			const filterData = JSON.parse(localStorage.getItem('filterData'));
			if (filterData) this.setFilerData(filterData);

			const prices = this.localeData.data.map(el => el.price);
			this.minPrice = Math.min.apply(Math, prices);
			this.maxPrice = Math.max.apply(Math, prices);
			this.parseHash();
		},
		mixins: [helpers],
		components: {
			dropdown, checkboxList, priceRange
		}
	}
</script>
