<template>

	<div class="dropdown--wrap">
		<div
			class="dropdown__head"
			@click="toggleOpen"
			:class="{changed: !!selectedItem}"
		>
			{{ selectedItem  || placeholder }}
		</div>
		<ul
			ref="dropdown"
			class="dropdown"
			:class="{open: isOpen}"
		>
			<li
				class="dropdown__item" :key="idx"
				v-for="(item, idx) in list"
				:class="{active: item[findBy] === value}"
				@click="checkItem(item)"
			>
				{{ item[labelBy] }}
			</li>
		</ul>
	</div>

</template>

<script>

	export default {
		data() {
			return {
				isOpen: false
			}
		},

		computed: {
			selectedItem() {
				return (this.list.find(el => el[this.findBy] === this.value))?.[this.labelBy]
			}
		},
		methods: {
			toggleOpen() {
				this.isOpen = !this.isOpen;
			},
			close(ev) {
				if (!this.$el.contains(ev.target))
					this.isOpen = false;
			},
			checkItem(item) {
				this.$emit('update:value', item[this.findBy]);
				this.isOpen = false;
			}
		},
		watch: {
			isOpen(val) {
				val
					? setTimeout(() =>
						window.addEventListener('click', this.close),
					100)
					: window.removeEventListener('click', this.close)
			}
		},
		props: {
			value: {
				default: null
			},
			list: {
				type: Array,
				default: () => ([])
			},
			labelBy: {
				type: String,
				default: 'name'
			},
			findBy: {
				type: String,
				default: 'id'
			},
			placeholder: String
		}
	}

</script>
