<template>

	<div class="flex direction-column">

		<label class="priceRange--wrap" ref="priceRangeWrapper">
			<input
				class="priceRange__input"
				type="range"
				:min="minValue"
				:max="maxValue"
				v-model="priceRange.min"
				@input="onChange('min')"
			>
			<input
				class="priceRange__input"
				type="range"
				:min="minValue"
				:max="maxValue"
				v-model="priceRange.max"
				@input="onChange('max')"
			>
			<span
				class="priceRange__line"
				:style="{
					left: linePosition.left > 0 ? `calc(${linePosition.left + '%'} + 8px)` : 0,
					right: linePosition.right > 0 ? `calc(${linePosition.right + '%'} + 8px)` : 0
				}"
			></span>
		</label>

		<div class="flex justify-between align-center">
			<span class="priceRange__value">
				{{ `$${priceRange.min} - $${priceRange.max}` }}
			</span>

			<button
				@click.prevent="sendRangeData"
				class="priceRange__button"
			>filter</button>
		</div>


	</div>

</template>

<script>

	export default {
		data() {
			return {
				priceRange: {
					min: 0,
					max: 0
				},
				linePosition: {
					left: 0,
					right: 0
				}
			}
		},
		methods: {
			onChange(pos) {
				const { min, max } = this.priceRange;

				if (pos === 'min') {
					if (+min > +max) {
						this.priceRange.max = +min;
					}

				} else if (pos === 'max') {
					if (+max < +min) {
						this.priceRange.min = +max
					}
				}
			},
			updateLinePosition() {
				const { min, max } = this.priceRange;
				const { minValue, maxValue } = this;

				this.linePosition.left = ((+min - minValue) / maxValue) * 100;
				this.linePosition.right = ((maxValue - +max) / maxValue) * 100;
			},
			sendRangeData() {
				const { min, max } = this.priceRange;
				this.$emit('update:value', {
					min: +min,
					max: +max
				});
			}
		},
		created() {
			this.priceRange.min = this.minValue;
			this.priceRange.max = this.maxValue;
			if (Object.keys(this.value).some(key => this.value[key] > 0)) {
				Object.keys(this.value).forEach(key => {
					this.priceRange[key] = this.value[key];
				});
			}
			this.updateLinePosition();
		},
		watch: {
			minValue(val) {
				this.priceRange.min = val;
				this.updateLinePosition();
			},
			maxValue(val) {
				this.priceRange.max = val;
				this.updateLinePosition();
			},
			priceRange: {
				deep: true,
				handler() {
					this.updateLinePosition();
				}
			}
		},
		props: {
			value: {
				type: Object,
				default: () => ({
					min: 0,
					max: 0
				})
			},
			minValue: Number,
			maxValue: Number
		}
	}

</script>
